---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Ping coming soon page">
  <header class="flex justify-center mt-20">
    <a href="/">
      <img src="/images/logo.svg" alt="logo" />
    </a>
  </header>
  <main></main>
</Layout>
