---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";

const form = document.getElementById("form");
const message = document.getElementById("message");

function processFormData(e) {
  console.log(e);
}

form.addEventListener("submit", processFormData);
---

<Layout title="Frontend Mentor | Ping coming soon page">
  <header class="flex justify-center mt-20">
    <a href="/">
      <img src="/images/logo.svg" alt="logo" />
    </a>
  </header>
  <main class="mt-10 sm:mt-8">
    <section>
      <div class="text-center">
        <h1
          class="text-5xl leading-[3.75rem] text-neutral font-light sm:text-[1.375rem] sm:leading-[2rem]"
        >
          We are launching <span class="text-dark-primary font-bold">soon!</span
          >
        </h1>
        <h2
          class="text-xl font-light leading-normal text-dark-primary mt-4 sm:text-xs sm:leading-normal"
        >
          Subscribe and get notified
        </h2>
      </div>
      <form
        action="php/subscribe.php"
        class="sm:flex sm:flex-col sm:gap-2 mt-10 flex flex-row gap-2 justify-center items-center"
        id="form"
      >
        <input
          class="w-[26rem] h-[3.5rem] sm:w-[17rem] sm:h-[2.5rem] rounded-[1.75rem] border border-accent border-solid shadow-3xl placeholder:text-base placeholder:text-accent placeholder:font-light placeholder:p-6 outline-none invalid:border-red pl-6 valid:border-[#15803d] transition-all duration-75 focus:outline-none"
          required
          type="email"
          name="email"
          id="email"
          placeholder="Your email address…"
        />
        <button
          class="w-[12rem] h-[3.5rem] sm:w-[17rem] sm:h-[2.5rem] bg-primary text-[#fff] font-semibold rounded-[1.75rem] shadow-4xl cursor-pointer border-none outline-none hover:opacity-[0.75] transition-all focus:outline-none"
          type="submit">Notify Me</button
        >
      </form>
      <!-- Error/Success message -->
      <h3
        id="message"
        class="text-xs sm:text-[0.625rem] mt-2 sm:mt-0 font-normal italic leading-[1.25rem] text-red text-center"
      >
        Please provide a valid email address
      </h3>
    </section>
  </main>
  <section class="mt-20 flex justify-center">
    <img
      class="w-[38rem]"
      src="/images/illustration-dashboard.png"
      alt="illustration-dashboard"
    />
  </section>
  <footer class="mt-24 flex flex-col gap-2 items-center">
    <div class="flex gap-2">
      <i
        class="fa-brands
      fa-facebook-f
      border
      border-accent
      rounded-full
      w-[2rem]
      h-[2rem]
      flex justify-center items-center cursor-pointer"
      >
      </i>
      <i
        class="fa-brands fa-twitter border border-accent rounded-full w-[2rem] h-[2rem] flex justify-center items-center cursor-pointer"
      ></i>
      <i
        class="fa-brands fa-instagram border border-accent rounded-full w-[2rem] h-[2rem] flex justify-center items-center cursor-pointer"
      ></i>
    </div>
    <h3
      class="mt-6 text-neutral text-xs leading-normal font-light sm:text-[0.625rem]"
    >
      &copy; Copyright Ping. All rights reserved.
    </h3>
  </footer>
</Layout>
